[application]
loglevel = ERROR

[session]
# default container inactivity before shutdown (seconds)
lifetime=43200
# Should containers be removed when they are stopped
remove=False

[image]
name=echoheaders
label=latest